.edit-menu-web-form {
    .form-edit {
        text-align: center;

        .ant-form-item {
            margin: 10px 0 10px 0;
        }

        .btn-submit {
            width: 100%;
        }
    }
}